p {
color: red;
font-size:30;
text-align: right;
}

h1 { 
color : blue;
text-align: center;
font-size: 50;
}
h2 {
color: green; 
text-align: left;
font-size: 40;
}
#lateral{ 
  float: right;

#imagem {
  text-align: center;
  border: 5px;
  boder-style: solid;
  boder-color:green;
  boder-top-left-radius:500px;

  color:blue;
  text-align: center;
}

.rodape{
  boder-top-style: solid;
  background: greeenyellow;
  margin-bottom:-8px;
  margin-left: -8px;
  margin-right: -8px
    padding:1px;
}
#rodape{
  color: blue;
  text-align:center;
}

.lista {
  font-size:30;
  color:red;
}
.imagens{
  
